* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 50px;
  padding: 50px;
  box-sizing: border-box;
  /*background: linear-gradient(180deg, #ffd4e5 0%, #f490b9 100%);*/
  background-color: #ffd4e5;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f490b9' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;
  width: 100%;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  color: rgb(242, 94, 145);
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 36px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex-direction: row;
  justify-content: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}
#searchTerm {
  width: 400px;
  border: 3px solid pink;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  color: #0c0e0d;
}

.searchButton {
  width: 50px;
  height: 40px;
  border: 1px solid pink;
  background: rgb(242, 94, 145);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  cursor: cursor;
  font-size: 20px;
}

#bntSort {
  width: 50px;
  height: 40px;
  background: rgb(242, 94, 145);
  color: whitesmoke;
  border: 20px;
  text-align: center;
  cursor: cursor;
  font-size: 25px;
  display: flex;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  flex-direction: row;
}
#bntSort2 {
  width: 50px;
  height: 40px;
  background: rgb(242, 94, 145);
  color: whitesmoke;
  border: 20px;
  text-align: center;
  cursor: cursor;
  font-size: 25px;
  display: flex;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  flex-direction: row;
}
#btn-filter {
  width: 50px;
  height: 40px;
  background: rgb(242, 94, 145);
  color: whitesmoke;
  border: 20px;
  text-align: center;
  cursor: cursor;
  font-size: 25px;
  display: flex;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  flex-direction: row;
}
.card-front-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.pokemon-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 11px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.card-front-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.pokemon-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
}
.card-back-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.pokemon-card-reverse {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
  align-items: stretch;
  align-content: flex-start;
}
.pokemon-card-expanded {
  display: flex;
  align-items: stretch;
  height: 400px;
  width: 700px;
  margin: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
}

.pokemon-info {
  display: flex;
  background: linear-gradient(rgb(233, 233, 240), pink);
  border-radius: 20px 20px 20px 20px;
}
.containerDerecho {
  order: -1;
  text-align: left;
  justify-content: space-around;
  border: 3px solid plum;
  border-radius: 20px 20px 20px 20px;
}

.containerCentro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  border: 3px solid palevioletred;
  border-radius: 20px 10px 50px 30px;
  text-align: center;
}
.about {
  order: -1;
  text-align: left;
}
.height {
}
.type-icon {
  display: inline-block;
  background-repeat: no-repeat;
  align-self: center;
  max-width: 50%;
  max-height: 50%;
}
.type-icon img {
  max-width: 30px;
  max-height: 30px;
}
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd4e5;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f490b9' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-size: medium;
}
#loading-message {
  color: #000000;
  font-size: 36px;
  text-shadow: 2px 2px 5px white;
}
#loading-gif {
  width: 120px;
  height: 120px;
}
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #f787d0;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.hidden {
  display: none;
}
.back-to-top-icon {
  width: 2.5rem;
  height: 2.5rem;
}
