* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 50px;
  padding: 50px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffd4e5 0%, #f490b9 100%);
  min-height: 100vh;
  width: 100%;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  color: #f282a7;
  text-align: center;
  text-shadow: 2px 2px 5px white;
  font-size: 36px;
}

nav {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.menu section {
  width: 55px;
  height: 55px;
  line-height: 75px;
  top: 0;
  right: 0;
  background: #e26dcc;
  text-align: center;
  color: #f5edf1;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  flex-flow: row wrap;
  justify-content: space-between;
}
#btn {
  width: 350px;
  height: 55px;
  line-height: 55px;
  top: 0;
  right: 0;
  background: #faf5fa;
  text-align: center;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}

.card-front-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.pokemon-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 11px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.card-front-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.pokemon-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
}
